/*Body*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--universal_gap);
    background: #F8FAFC;
}

/*Custom variables*/
:root {
    /*spacing*/
    --main-padding: 0px 58px;
    --padding-navbar: 10px 58px;
    --padding-buttons-navbar:11.5px 20px;;
    --gap-navbar: 40px;
    --universal_gap: 80px;
    --no-margin: 0;
    --no-padding: 0;
    /*Fonts size*/
    --font-20: 18px;
    /*Fonts color*/
    --color-text: #333;
  }

  /*Universal clases*/
  .universal_spacing{
    gap: var(--universal_gap);
  }
  .vertical_gap{
    gap: var(--gap-navbar);
  }

/*---------Navbar----------*/
.nav{
    height: 68px;
    border-bottom: 0.3px solid #AEAEAE;
    background: #FFF;
    padding: var(--padding-navbar);
}
.search-bar{
    width: 40%;
    gap: var(--gap-navbar);
}
.seacrh-input{
    padding-left: 2.75rem;
}
.search-icon{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 25px;
    height: 25px;
    pointer-events: none;
}
.count-products{
    position: absolute;
    top: 55%;
    right: -5px;
    background-color: rgba(162, 26, 184, 0.81);
    color: #fff;
    width: 16.793px;
    height: 16.931px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#contador-productos{
    font-size: 12px;
}
.shop-cart:hover{
    cursor: pointer;
}
.sign-and-menu-container{
    gap: var(--gap-navbar);
    width: 25%;
}
.login-singup{
    gap: 11px;
    padding: 9.5px 20px 9.5px;
    font-size: var(--font-20);
    color: var(--color-text);
    text-align: center;
    font-family: Candara;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

/*stlyles for the fist container*/
.first-container{
    height: 513px;
    margin: var(--main-padding);
}

.announemennt{
    border-radius: 20px;
    background: #194E80;
}

.announemennt-text{
    width: 466px;
    margin: 135px 406px 110px 56px;
}

.text-content{
    gap: 15px;
}

.over-fifty{
    color: #1F8BEF;
    text-align: center;
    font-family: Gotham;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
    margin: var(--no-margin);
}

.best-watches{
    width: 442px;
    color: #FEFEFF;
    font-family: Gotham;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: var(--no-margin);
}

.view-offers{
    padding: 15px 20px;
    gap: 10px;
}
.btn-view{
    padding: var(--no-padding);
    color: rgba(254, 254, 255, 0.80);
    text-align: center;
    text-decoration: none;
    font-family: Gotham;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.69px;
}

.watch-announcement{
    bottom: 40px;
    right: -100px;
}

.img-slider{
    width: 928px;
    height: 513px;
}

.img-slider .slide_content{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide_content.active{
    clip-path: circle(150% at 0 50%);
    transition: 3s;
    transition-property: clip-path;
}

.img-slider .slide_content img{
    z-index: 1;
}

.img-slider .navigator{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigator .button_slider{
    width: 14px;
    height: 14px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: #d9d9d97e;
}

.img-slider .navigator .button_slider.active{
    background: #D9D9D9;
}

/*responsive desing for the slider until line 245.  TO FIX*/
@media (max-width: 820px){
    .img-slider{
        width: 600px;
        height: 375px;
    }

    .img-slider .slide_content .text-content .over-fifty{
        font-size: 15px;
    }
    .img-slider .slide_content .text-content .best-watches{
        font-size: 35px;
        width: 70%;
    }

.img-slider .navigator{
    bottom: 25px;
}
    .img-slider .navigator .button_slider{
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

@media (max-width: 620px){
    .img-slider{
        width: 400px;
        height: 375px;
    }

    .img-slider .slide_content .text-content .over-fifty{
        font-size: 13px;
    }
    .img-slider .slide_content .text-content .best-watches{
        font-size: 30px;
        width: 80%;
    }

.img-slider .navigator{
    bottom: 15px;
}
    .img-slider .navigator .button_slider{
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}

@media (max-width: 420px){
    .img-slider{
        width: 400px;
        height: 375px;
    }
}