/*Body*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    background: #F8FAFC;
}

/*Custom variables*/
:root {
    /*spacing*/
    --main-padding: 0px 58px;
    --padding-navbar: 10px 58px;
    --padding-buttons-navbar:11.5px 20px;;
    --gap-navbar: 40px;

    /*Fonts size*/
    --font-20: 18px;
    /*Fonts color*/
    --color-text: #333;
  }

/*---------Navbar----------*/
.nav{
    height: 68px;
    border-bottom: 0.3px solid #AEAEAE;
    background: #FFF;
    padding: var(--padding-navbar);
}
.search-bar{
    width: 40%;
    gap: var(--gap-navbar);
}
.seacrh-input{
    padding-left: 2.75rem;
}
.search-icon{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 25px;
    height: 25px;
    pointer-events: none;
}
.count-products{
    position: absolute;
    top: 55%;
    right: -5px;
    background-color: rgba(162, 26, 184, 0.81);
    color: #fff;
    width: 16.793px;
    height: 16.931px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#contador-productos{
    font-size: 12px;
}
.shop-cart:hover{
    cursor: pointer;
}
.sign-and-menu-container{
    gap: var(--gap-navbar);
    width: 25%;
}
.login-singup{
    gap: 11px;
    padding: 9.5px 20px 9.5px;
    font-size: var(--font-20);
    color: var(--color-text);
    text-align: center;
    font-family: Candara;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}
