/*Body*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--universal_gap);
    background: #F8FAFC;
}

ul{
    list-style: none;
    gap: 40px;
    padding: var(--no-padding);
    margin: var(--no-margin);
}
/*Custom variables*/
:root {
    /*spacing*/
    --main-padding: 0px 100px;
    --padding-navbar: 10px 100px;
    --padding-buttons-navbar:11.5px 20px;;
    --gap-navbar: 40px;
    --universal_gap: 80px;
    --no-margin: 0;
    --no-padding: 0;
    /*Fonts size*/
    --font-20: 18px;
    /*Fonts color*/
    --color-text: #333;
    --color-Tittles: #353535;
  }

  /*Universal clases*/
  .universal_spacing{
    gap: var(--universal_gap);
  }
  .vertical_gap{
    gap: var(--gap-navbar);
  }

/*---------Navbar----------*/
.nav{
    height: 68px;
    border-bottom: 0.3px solid #AEAEAE;
    background: #FFF;
    padding: var(--padding-navbar);
}
.search-bar{
    width: 40%;
    gap: var(--gap-navbar);
}
.seacrh-input{
    padding-left: 2.75rem;
}
.search-icon{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 25px;
    height: 25px;
    pointer-events: none;
}
.count-products{
    position: absolute;
    top: 55%;
    right: -5px;
    background-color: rgba(162, 26, 184, 0.81);
    color: #fff;
    width: 16.793px;
    height: 16.931px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#contador-productos{
    font-size: 12px;
}
.shop-cart:hover{
    cursor: pointer;
}
.sign-and-menu-container{
    gap: var(--gap-navbar);
    width: 25%;
}
.login-singup{
    gap: 11px;
    padding: 9.5px 20px 9.5px;
    font-size: var(--font-20);
    color: var(--color-text);
    text-align: center;
    font-family: Candara;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

/*------------------stlyles for the fist container-----------------*/
.first-container{
    height: 513px;
    padding: var(--main-padding);
    gap: 80px;
}

/*----announcement style-slider-----*/
.announemennt{
    border-radius: 20px;
    background: #194E80;
}

.announemennt-text{
    width: 466px;
    margin: 135px 406px 110px 56px;
}

.text-content{
    gap: 15px;
}

.over-fifty{
    color: #1F8BEF;
    text-align: center;
    font-family: Gotham;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
    margin: var(--no-margin);
}

.best-watches{
    width: 442px;
    color: #FEFEFF;
    font-family: Gotham;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: var(--no-margin);
}

.view-offers{
    padding: 15px 20px;
    gap: 10px;
}
.btn-view{
    padding: var(--no-padding);
    color: rgba(254, 254, 255, 0.80);
    text-align: center;
    text-decoration: none;
    font-family: Gotham;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.69px;
}

/*images*/
.watch-announcement{
    bottom: 40px;
    right: -100px;
}

/*styles that support the slider*/
.img-slider{
    width: 928px;
    height: 513px;
}

.img-slider .slide_content{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide_content.active{
    clip-path: circle(150% at 0 50%);
    transition: 3s;
    transition-property: clip-path;
}

.img-slider .slide_content img{
    z-index: 1;
}

.img-slider .navigator{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigator .button_slider{
    width: 14px;
    height: 14px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: #d9d9d97e;
}

.img-slider .navigator .button_slider.active{
    background: #D9D9D9;
}

/*responsive desing for the slider content until line 259.  TO FIX*/
@media (max-width: 820px){
    .img-slider{
        width: 600px;
        height: 375px;
    }

    .img-slider .slide_content .text-content .over-fifty{
        font-size: 15px;
    }
    .img-slider .slide_content .text-content .best-watches{
        font-size: 35px;
        width: 70%;
    }

.img-slider .navigator{
    bottom: 25px;
}
    .img-slider .navigator .button_slider{
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

@media (max-width: 620px){
    .img-slider{
        width: 400px;
        height: 375px;
    }

    .img-slider .slide_content .text-content .over-fifty{
        font-size: 13px;
    }
    .img-slider .slide_content .text-content .best-watches{
        font-size: 30px;
        width: 80%;
    }

.img-slider .navigator{
    bottom: 15px;
}
    .img-slider .navigator .button_slider{
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}

@media (max-width: 420px){
    .img-slider{
        width: 400px;
        height: 375px;
    }
}

/*styles that support the cataegory container*/

.categories-container{
    flex: 1 0 0;
}

.container-firs_column{
    height: 233px;
    gap: var(--universal_gap);
}

.category-cards{
    width: 228px;
    height: 188.299px;
    gap: 10px;
    padding: 10px 38px 25px 38px;
    border-radius: 20px;
}

.img_category{
    width: 143.048px;
    height: 142.145px;
    border-radius: 20px;
    top: 0;
    box-shadow: 4px -2px 4px 0px rgba(74, 74, 74, 0.25), 0px 4px 4px 0px rgba(74, 74, 74, 0.25);
}

.container_text-arrow{
    margin-bottom: 15px;
    padding: 0 10px;
}

.containe_text-category{
    gap: 5px;
}

.title_categories{
    margin: var(--no-margin);
    color: var(--color-text);
text-align: center;
font-family: Gotham;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
}

.Num_products{
    margin: var(--no-margin);
    color: #333;
text-align: center;
font-family: Gotham;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.3px;
}

/*-------------------cards main container---------------*/

.cards-container-main{
    gap: 30px;
    padding: var(--main-padding);
}

.our_products{
    padding: 5px 0px;
    gap: 14px;
    flex-wrap: wrap;
}
/*tittle*/
.title_our-products{
    color: var(--color-Tittles);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.8px;
margin: var(--no-margin);
padding: var(--no-padding);
}
/*buttons and range container*/
.buttond_and-range{
    padding: 0px 3px;
    gap: 50px;
}
/*buttons container only*/
.best_sellers{
    height: 60px;
    padding: 0px 25px 0px 0px;
    gap: 24px;
    border: 1px solid #FFF;
    background: #ECECEC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
.option1{
    width: 207px;
    height: 55px;
    border-radius: 50px;
    cursor: pointer;
background: radial-gradient(49.34% 49.34% at 50.46% 50.67%, rgba(1, 174, 217, 0.80) 0%, #019ED1 100%);
box-shadow: 4px -2px 4px 0px rgba(0, 0, 0, 0.15), -1px 4px 15px 0px rgba(1, 197, 252, 0.70);
}

.option2{
    width: 107px;
    height: 39px;
    cursor: pointer;
}

.b-sellers{
    color: #FEFEFF;
text-align: center;
font-family: Candara;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 0px; /* 0% */
letter-spacing: 0.6px;
margin: var(--no-margin);
padding: var(--no-padding);
}

.newest{
    color: var(--color-text);
text-align: center;
font-family: Candara;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 0px; /* 0% */
letter-spacing: 0.6px;
margin: var(--no-margin);
}

/*range container*/
.range-container{
    width: 504px;
    padding: 13px 0px;
    gap: 20px;
}

.price_range{
    color: var(--color-text);
text-align: center;
font-family: Candara;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 0px; /* 0% */
letter-spacing: 0.6px;
margin: var(--no-margin);
}

.range_amount{
    width: 60%;
    gap: 10px;
    height: 30px;

}

.amount_r{
    color: var(--color-text);
text-align: center;
font-family: Candara;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 0px; /* 0% */
letter-spacing: 0.6px;
margin: var(--no-margin);
}

input[type="range" i]:hover{
    background-color: #14AAD6;
}
/*----------container cards row--------------*/
.container_cards_rows{
    gap: var(--universal_gap);
    padding: var(--no-padding);
}
/*----------cards column--------------*/
.card-columns{
    gap: var(--universal_gap);
    padding: var(--no-padding);
}
/*cards*/
.cards_t{
    gap: 15px;
    flex: 1 0 0;
    height: 460px;
    border-radius: 20px;
border: 0.8px solid #BCBCBC;
background: #FFF;
box-shadow: -6px 8px 5px 0px rgba(208, 207, 219, 0.40);
}

.content_img{
    min-width: 100%;
height: 240px;
}

.content_img img {
    min-width: 100%;
    height: 240px; 
}

.container_counter-cards{
    gap: 1px;
    border-radius: 10px;
    background: #F5F7F9;
}

.cards_content{
    padding: 5px 25px 0px 25px;
gap: 20px;
flex: 1 0 0;
}

.card_text{
    height: 58px;
gap: 15px;
}

.card_text_profuct-name{
    color: #333;
text-align: center;
font-family: Candara;
height: 22px;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.72px;
margin: var(--no-margin);
}

.card_text_type{
    color: rgba(107, 107, 107, 0.80);
text-align: center;
font-family: Candara;
font-size: 18px;
height: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.9px;
margin: var(--no-margin);
}

.cards_container-buttons{
padding: 5px 0px;
gap: 25px;
}

.buy_card_button{
    width: 119px;
height: 47px;
color: #FFF;
flex-wrap: wrap;
text-decoration: none;
text-align: center;
font-family: Fira Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
    border-radius: 10px;
background: radial-gradient(49.34% 49.34% at 50.46% 50.67%, rgba(1, 174, 217, 0.80) 0%, #019ED1 100%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*counters*/
.count-m{
    width: 42px;
    height: 42px;
    font-size: 2.5rem;
    border: 3px solid #00BF95;
    padding-bottom: 8px;
    font-weight: 400;
    border-radius: 10px;
}

.counter_cards{
    width: 37.5px;
    height: 31.16px;
    border-left: 2px solid #00000028; 
    border-right: 2px solid #00000021;
    color: var(--color-text);
text-align: center;
font-family: Fira Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.66px;
}

.view-product{
    height: 38px;
    gap: 10px;
    padding: 0px 10px 15px 10px;
}

.t-view-product{
    text-align: center;
font-family: Candara;
font-size: 24px;
text-decoration: none;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: var(--no-margin);
letter-spacing: 0.72px;
    background: linear-gradient(231deg, rgba(1, 174, 217, 0.89) 15.18%, #7BC683 82.53%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.arrow-view{
    cursor: pointer;
}

/*--------------second advertisement contaner-----------*/
.second-advertisement{
    margin: 100px;
    margin-left: 100px;
    width: -webkit-fill-available;
    padding: var(--no-padding);
    border-radius: 20px;
    overflow: hidden;
    background: #2E5880;
    margin: 0 100px;
}

.advertisement-text{
    gap: 20px;
    padding: 41px 0 41px 80px;
}

.advertisement-text_h1{
    gap: 15px;
}

.the_best-online{
    color: #353535;
font-size: 96px;
font-style: normal;
font-weight: 900;
line-height: 100px; /* 104.167% */
}

.Elevate_your-style{
    color: #D1D9DC;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 65px; /* 135.417% */
letter-spacing: 0.96px;
}

/*-----------------footer-------------*/
footer{
    border-top: solid 1px #0E8FB8;
    background-color: #ffffff;
    padding: var(--no-padding);
}
/*subscribe container*/

.main_container-footer{
    padding: 70px 96px 23px 96px;
}

.first-container-footer{
    padding: 0px 50px;
    gap: 175px;
}

.logo-and_subscribe-content{
    gap: 90px;
}

.subscribe_content{
    gap: 15px;
}

.subscribe-text{
    color: #353535;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.66px;
margin: var(--no-margin);
}

.send-email-social{
    gap: 35px;
}

/*enter your email and social media*/
.enter-your-email{
    padding: 14px 231px 14px 23px;
    background: #D1D9DC;
    border-radius: 30px;
    border: 0;
    color: #333;
font-family: Candara;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}

.social-media-container{
    gap: 35px;
}

.img-social{
    width: 40px;
}

/*menu footer container*/
.menu-footer-container{
    gap: 120px;
}

.menu-footer{
    gap: 20px;
}

.tittle-footer{
    color: #6B7680;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.66px;
}

.link-footer{
    color: #333333ab;
font-family: Candara;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
text-decoration: none;
}

.tittle-footer, .link-footer{
    margin: var(--no-margin);
    padding: var(--no-padding);
}


.termns-policies{
    background: #D1D9DC;
    padding: 10px 150px;
}

/*termns and policies*/
.container_termns{
    gap: 100px;
}

.termns_text{
    color: var(--color-text);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 100;
line-height: normal;
letter-spacing: 0.48px;
margin: var(--no-margin);
}