body{
    display: flex;
    background: #F8FAFC;
    padding-left: 0px;
    padding-right: 80px;
justify-content: space-between;
align-items: center;
gap: 100px;
}

p{
    margin: 0 !important;
}

/*------------menu admin-------------*/
.menu_admin{
    height: 100vh;
    width: 360px;
    border-right: 0.5px solid #AEAEAE;
    background: #FFF;
    padding-bottom: 0px;
    gap: 50px;
}

.logo_admin{
    height: 98px;
    background: #A29FB8;
    padding: 10px 0px;
    gap: 15px;
}
.admin_menu_container{
    padding: 20px 50px !important;
    flex: 1 0 0;
}
.admin_text{
    color: #F8FAFC;
text-align: center;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 0.72px;
text-decoration: none;
}

.menu-admin{
    gap: 43px
}

.link_menu_admin{
    color: #6B7680;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.66px;
text-decoration: none;
}

.link_menu_admin:hover{
    position: relative;
    left: 10px;
    color: #A21AB8;
text-align: right;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.72px;
}

.log_out-container{
    padding: 10px;
    gap: 15px;
}

.logout{
    color: #333;
text-align: center;
font-family: Candara;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
text-decoration: none;
}

.logout:hover{
    text-decoration: underline;
}

/*--------------dashboard------------*/
.dashboard{
    height: auto;
    padding: 15px 0px;
gap: 50px;
background: #ffffff;
}

.profile_notifications{
    height: 98px;
}

.welcome_admin{
    color: #333;
text-align: center;
font-family: Candara;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.72px;
margin: 0;
}

.profile_picture{
    width: 58px;
    height: 58px;
    border-radius: 58px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/*container of the dashoard fields*/
.container_dashboard_fields{
    height: auto;
    padding: 0px 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    gap: 15px;
    flex: 1 0 0;
    border: 0.5px solid #AEAEAE;
    background: #FFF;
}

/*----------------------------------------------------Users page---------------------------------------------------*/
.users_title_admin{
    color: #2F2F2F;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.72px;
    text-decoration: none;
}

.table_admin{
    margin: 0;
}

tbody{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
}

.tr_tittles{
    padding: 0 20px;
}

.bottom_line{
    border-bottom: 0.5px solid #AEAEAE;
}
.bottom_line-top{
    border-top: 0.5px solid #AEAEAE;
}

.no_boder_style{
    border-style: none;
}

td{
    width: 200px !important;
    border-style: none !important;
    color: #333 !important;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.72px;
}

tr{
    height: 105px;
}

.tr_tittles .action_hover:hover{
    background: #A8A8A9;
}

.number_users{
    color: #333;
    margin: 0;
text-align: center;
font-family: Candara;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}

div p span {
    color: #333 !important;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

p span{
    display: inline-flex;
}

.container-view-users{
    padding: 0!important;
    gap: 20px;
}

/*----------------------------update page--------------------------*/
.update_input, p{
    width: 200px !important;
    color: #333333 !important;
    font-family: Candara;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
}

.submit-button{
    border: none !important;
    border-radius: 10px;
    background: radial-gradient(49.34% 49.34% at 50.46% 50.67%, rgba(1, 174, 217, 0.80) 0%, #019ED1 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 40px !important;
    font-family: Candara !important;
    font-style: normal;
    font-weight: 400 !important;
    letter-spacing: 0.9px;
}

.submit-button:hover{
    background: radial-gradient(49.34% 49.34% at 50.46% 50.67%, rgba(5, 151, 187, 0.8) 0%, #019ED1 100%);

}

.container-check{
    padding: 10px;
    gap: 50px;
    width: 519px;
height: 514px;
margin-top: 90px;
    border-radius: 16px;
border: 0.5px solid #A8A8A9;
background: #FFF;
box-shadow: -4px 4px 4px 0px rgba(210, 209, 209, 0.50);
}

.conatiner_text-check{
    border-radius: 10px;
background: #ABD6E3;
    padding: 10px;
    gap: 10px;
}

.all-right{
    color: #2F2F2F;
text-align: center;
font-family: Candara;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin: 0;
}

.the-info{
    color: #333;
text-align: center;
font-family: Candara;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.72px;
width: auto !important;
margin: 0;
}

.input_product{
    margin-top: 15px !important;
}

.label-input-files{
    color: #D1D9DC;
text-align: center;
font-family: Candara;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.72px;
}

.custom-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
  }

  .input-files input[type="file"] {
    display: none;
  }

.input-files{
    display: flex;
width: 370px;
height: 293px;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
    border: 3px dashed #D1D9DC;
background: #FFF;
}


/*-------------------------------------login------------------------*/
.body-login{
    height: 100vh;
    padding: 80px 100px !important;
    gap: 10px;
}

/*container login*/
.container-form-login{
    border-radius: 30px;
    padding: 0px 10px;
    flex: 1 0 0;
}

.login-inputs{
    padding: 58px 105px;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 30px 0px 0px 30px;
    border-top: 10px solid #9444A1;
    border-bottom: 10px solid #9444A1;
    border-left: 10px solid #9444A1;
    background: #FFF;
}

.login-inputs-content{
    padding: 61px 4px 20px 4px;
    gap: 30px;
    flex-shrink: 0;
}

.tittle-login-image{
    gap: 17px;
}

.tittle-login-image-content{
    padding: 0px 39px;
    gap: 17px;
}

.login-tittle{
    color: #353535;
text-align: center;
font-family: Roboto !important;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2px;
margin: 0;
}

.best-watch-text{
    color: #333;
text-align: center;
font-family: Candara;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.2px;
margin: 0 !important;
width: auto !important;
padding-left: 39px;
text-align: left;
}

.user-input-container{
    gap: 17px;
    padding: 0px 39px;
    flex-shrink: 0;
}

.subtilte-login{
    color: #2F2F2F !important;
/* font-family: Roboto; */
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.2px;
}

.input-login-button{
    height: 70px;
    border-radius: 16px !important;
    border: 0.5px solid #AEAEAE !important;
    background: #FFF;
}

.forgot-password{
    text-align: center;
font-family: Candara;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1px;
background: linear-gradient(231deg, rgba(1, 174, 217, 0.89) 15.18%, #7BC683 82.53%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.button-to-login{
    width: 331px;
    height: 55px;
    border-radius: 50px !important;
    background: radial-gradient(49.34% 49.34% at 50.46% 50.67%, rgba(1, 174, 217, 0.80) 0%, #019ED1 100%);
    box-shadow: 4px -2px 4px 0px rgba(0, 0, 0, 0.15), -1px 4px 15px 0px rgba(1, 197, 252, 0.70);
}

.sign-up-container{
    height: 91px;
}

.have-not-account{
    color: #333 !important;
    width: auto !important;
text-align: center;
font-family: Candara;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1px;
}

.sing-up-question{
    background: linear-gradient(89deg, #7BC683 26.21%, #1DB7DD 139.43%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Candara;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1px;
}

.copy-container{
    border-radius: 0px 30px 30px 0px;
background: #A29FB8;
background-image: url(../img/kisspng-geometry-geometric-background-5a70d06574a3b0\ 1.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}

.copy-message{
    margin: 69px 81px;
    padding: 80px 30px;
    gap: 50px 10px;
    border-radius: 15px;
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(25px);
}

.copy-text{
    color: #FEFEFF;
font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.succesful-message{
    left: 55%;
    bottom: -130px;
}